-- DropForeignKey
ALTER TABLE `EventRequest` DROP FOREIGN KEY `EventRequest_eventId_fkey`;

-- AlterTable
ALTER TABLE `EventRequest` ADD COLUMN `adminViewed` BOOLEAN NOT NULL DEFAULT false,
    MODIFY `status` varchar(191) NOT NULL DEFAULT 'PENDING';

-- CreateIndex
CREATE INDEX `Event_creatorId_fkey` ON `Event`(`creatorId` ASC);

-- CreateIndex
CREATE INDEX `EventRequest_requestedById_fkey` ON `EventRequest`(`requestedById` ASC);

